<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffzx.ffsip.mapper.WxArticleMapper">
<select id="selectByPage" resultType="com.ffzx.ffsip.model.WxArticle" parameterType="map">
	select a.*
	from wx_article a , fans f
	where a.publisher = f.subscribe_code 
	and f.fans_code = #{params.fansCode,jdbcType=VARCHAR}
	<if test="params.orderByField != null and ''!=params.orderByField">
		order by ${params.orderByField}
	</if>
</select>
</mapper>
